@model WebInterFace_IkıncielKitapApi.Models.Order

<h2>Sipariş Detayı</h2>

<div>
    <p><strong>Kitap:</strong> @Model.BookTitle</p>
    <p><strong>Yazar:</strong> @Model.BookAuthor</p>
    <p><strong>Fiyat:</strong> @Model.BookPrice</p>
    <p><strong>Alıcı:</strong> @Model.BuyerUsername</p>
    <p><strong>Satıcı:</strong> @Model.SellerUsername</p>
    <p><strong>Kategori:</strong> @Model.BookCategory</p>

    <p><strong>Sipariş Tarihi:</strong> @Model.OrderDate.ToString("dd.MM.yyyy")</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
